.cabeçalho_menu-hamburguer {
  width: 24px;
  height: 24px;
  background-image: url("../img/Menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.container_botão:checked~.container_rotulo>.cabeçalho_menu-hamburguer {
  beckground-image: url("../Menu Aberto.svg");
}

.container_botao:checked~.container_rotulo{
  background: var(--azul-degrade);
}

.cabeçalho{
  background-color: var(--branco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container{
  display: flex;
  align-items: center;
}

.container__imagem {
  padding: 1em;
}
